service vendor.nfc_detect /vendor/bin/nfc_detect.sh
    class early_hal
    user nfc
    group nfc
    oneshot

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service
    override
    class hal
    user nfc
    group nfc
    disabled

service mtk_secure_element_hal_service /vendor/bin/hw/android.hardware.secure_element@1.2-service-mediatek
    override
    class hal
    user secure_element
    group secure_element
    disabled

on property:ro.vendor.device.variant=nfc
    setprop ro.boot.product.vendor.sku nfc
    start vendor.nfc_hal_service
    start mtk_secure_element_hal_service
