allow gmscore_app apex_mnt_dir:dir search; 
allow gmscore_app apex_info_file:file getattr;
allow gmscore_app configfs:dir search;
allow gmscore_app dex2oat_exec:lnk_file getattr;
allow gmscore_app linkerconfig_file:dir getattr;
allow gmscore_app metadata_file:dir getattr;
allow gmscore_app vendor_keylayout_file:dir getattr;
dontaudit gmscore_app adbd_prop:file read;
dontaudit gmscore_app system_adbd_prop:file read;
